body{
    background-color: rgba(51, 53, 56);

}
::-webkit-scrollbar {
    display: none;
}

h1.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color: rgb(129, 1, 189);
    margin-top: 1%;
    margin-bottom: 0%;
  	margin-left:0%;
}

img.chakn{
    width:30%;
}
p.aclaraciones{
    width: 60%;
    font-family:sans-serif;
    margin-top: 3%;
}


a.linky{
    color: blueviolet;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 1%
}

p.vencimiento{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}
p.diasx{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    width: 200px; 
}

div.contenetuti{
    display: flex;
    flex-direction: column;

}

h1.subtitle{
    font-size: 20px;
    margin : 5% 0% 5% 0%;
}

p.data{
    font-size: 25px;
    margin : 5% 0% 0% 0%;
}

p.tasas{
    font-size: 25px;
    margin : 0% 0% 0% 0%;
}
div.contenedor1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 150px;

    margin-bottom: 7%;
}

div.contenedor3{
    display: flex;
    flex-direction: column;

    margin-left: 0%;
    margin-top:1%;
}
div.contenedor4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;
    margin-top:1%;

}

div.contenedor5{
    display: flex;
    flex-direction: column;

    margin-left: 0%;
    margin-top: 1%;
}
div.contenedor6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;
    margin-top:1%;

}
div.BTC{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.ETH{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.LTC{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.DOT{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.BCH{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.ADA{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.XRP{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

.tradingv{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}