body{
    background-color: rgba(60, 63, 66, 0.945);
    
}

img.logo{
    width: auto;  
    height: 100px; 
}

h1.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color: rgb(129, 1, 189);
    margin-top: 0%;
    margin-bottom: 0%;
}

p.vencimiento{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}
p.diasx{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
p.ojox{
    margin-top: 1px;
    margin-bottom: 1px;
}

h1.subtitle{
    font-size: 20px;
    margin : 5% 0% 5% 0%;
}

p.data{
    font-size: 25px;
    margin : 5% 0% 0% 0%;
}

p.tasas{
    font-size: 25px;
    margin : 0% 0% 0% 0%;
}
div.contenedor1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}
div.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 150px;
    margin-bottom: 1px;
}
div.contenedor3{
    display: flex;
    flex-direction: column;

    margin-left: 80%;
}
div.contenedor4{
    display: flex;
    flex-direction: row;

    height: fit-content;
}

div.contenedor5{
    display: flex;
    flex-direction: column;

    margin-left: 80%;
}
div.contenedor6{
    display: flex;
    flex-direction: row;

    height: fit-content;
}
div.BTC{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.ETH{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.BNB{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.DOT{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.BCH{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}

div.ADA{
    padding: 1%;
    border-style: solid;
    border-color: rgb(2, 2, 100);
    border-width: 1px;

    width: fit-content;
}